@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Serif+Text:ital@0;1&family=Erica+One&family=Tsukimi+Rounded&display=swap");

:root {
  --accent-color: #00674f;
  --accent-color-light: #0bd4a5;
  --accent-text-color: gold;
  --primary-text-color: #ffffff;
  --background-color: rgba(0, 0, 0, 0.397);
  --border-color: rgba(255, 255, 255, 0.1);
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --hover-background-color: rgba(255, 217, 0, 0.452);
  --hover-after-background-color: rgba(251, 255, 0, 1);
  --intro-first-part-color: beige;
  --intro-second-part-color: gold;
  --home-branding-color: rgba(255, 255, 253, 0.582);
  --our-partners-title-color: #ffffff;
  --partners-background-color: rgba(0, 0, 0, 0.397);
  --partners-border-color: rgba(255, 255, 255, 0.1);
  --partners-box-shadow-color: rgba(0, 0, 0, 0.5);
  --partners-hover-after-background-color: rgb(251, 255, 0, 1);
  --partners-hover-color: var(--primary-text-hover-color);
  --primary-text-hover-color: #000;
  --primary-background-hover-color: rgba(255, 255, 255, 0.99);
}
.navigationBar {
  display: flex;
  height: 75px;
  width: 100%;
  background: var(--accent-color);
  /* border-bottom: 1.2px solid rgba(255, 255, 255, 0.137); */
  align-items: center;
  justify-content: space-between;
  /* fixing the navbar at the top permanently */
  position: fixed;
  top: 0;
  left: 0;

  /* setting padding for : top right bottom left */
  padding: 0 50px 0 50px;
  /* allow items to take more than one line if they dont fit in a single line */
  flex-wrap: wrap;

  backdrop-filter: blur(7px);
  transition: 0.8s ease;
}
/* aligning Watchify logo */

.navigationBar .nameLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-text-color);
}

.navigationBar .nameLogo .name {
  color: var(--primary-text-color);
  font-size: 30px;
  font-weight: 750;
  font-family: "DM Serif Text", serif;
  letter-spacing: 1.1px;
  cursor: pointer;
}
/* nav btn's placements */
.navigationButtons ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 5px 10px;
  margin: 0 50px 0 50px;
}
/* nav btn's styling */
.navigationButtons ul .navBtn {
  margin: 0 10px;
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 20px;
  font-family: "Tsukimi Rounded", serif;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  font-family: "Tsukimi Rounded", serif;
  font-weight: bolder;
  transition: 0.2s ease-in-out;
  position: relative;

  color: var(--primary-text-color);
}
/* when js injects active class to nav's btn class */
.navigationButtons ul .activeNavigationButton {
  color: var(--primary-text-hover-color);
  background-color: var(--primary-background-hover-color);
  color: #0e0d0d;
}

.navigationButtons ul li .navBtn::after {
  content: "";
  width: 0%;
  height: 1.6px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 3px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s ease;
  opacity: 0.1;
}
.navigationButtons ul li .navBtn:hover::after {
  content: "";
  width: 72%;
  margin: auto;
  height: 1.6px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 3px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
.navigationButtons ul li a:hover {
  color: var(--primary-text-hover-color);
  background-color: var(--primary-background-hover-color);
}
.navigationButtons ul li a:hover .cartIcon {
  fill: var(--primary-text-hover-color);
  border-radius: 5px;
}
