@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Serif+Text:ital@0;1&family=Erica+One&family=Tsukimi+Rounded&display=swap");

:root {
  --accent-color: #232927;
  --primary-text-color: #ffffff;
  --primary-text-hover-color: #000;
  --primary-background-hover-color: rgba(255, 255, 255, 0.99);
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Serif Text", serif;
  background-image: url(".././Assets/Images/watchBg.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  color: var(--primary-text-color);
  overflow-x: hidden;
  transition: 0.9s ease;
}
@media screen and (max-width: 768px) {
  body {
    background-image: url(".././Assets/Images/watchBgF.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
}
.navigationBar {
  display: flex;
  height: 75px;
  width: 100%;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  /* fixing the navbar at the top permanently */
  position: fixed;
  top: 0;
  left: 0;

  /* setting padding for : top right bottom left */
  padding: 0 50px 0 50px;
  /* allow items to take more than one line if they dont fit in a single line */
  flex-wrap: wrap;
  /*creating a slide down animation when loading the page */
  transform: translateY(-100%);

  transition: 0.8s ease;
}

.navigationBar .nameLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.navigationBar .nameLogo .name {
  color: var(--primary-text-color);
  font-size: 32px;
  font-weight: bold;
  font-family: "DM Serif Text", serif;
  letter-spacing: 1.1px;
  cursor: pointer;
}
.navigationButtons ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 5px 10px;
  margin: 0 50px 0 50px;
}
.navigationButtons ul .navBtn {
  margin: 0 10px;
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 20px;
  font-family: "Tsukimi Rounded", serif;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  font-family: "Tsukimi Rounded", serif;
  font-weight: bolder;
  transition: 0.2s ease-in-out;
  position: relative;
  color: aliceblue;
}
.navigationButtons ul .activeNavigationButton {
  color: var(--primary-text-hover-color);
  background-color: var(--primary-background-hover-color);
  color: #0e0d0d;
}

.navigationButtons ul li .navBtn::after {
  content: "";
  width: 0%;
  height: 1.6px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 3px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s ease;
  opacity: 0.1;
}
.navigationButtons ul li .navBtn:hover::after {
  content: "";
  width: 72%;
  margin: auto;
  height: 1.6px;
  background-color: rgb(9, 102, 97);
  position: absolute;
  bottom: 3px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
.navigationButtons ul li a:hover {
  color: var(--primary-text-hover-color);
  background-color: var(--primary-background-hover-color);
}
.navigationButtons ul li a:hover .cartIcon {
  fill: var(--primary-text-hover-color);
  border-radius: 5px;
}

.introAnimation {
  height: 50vh;
  width: 40%;
  /* background: rgba(0, 0, 0, 0.5); */
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 100;
  transition: 0.8s ease;
}
.introAnimation .introFirstPart {
  border-bottom-right-radius: 87%;
  font-size: 38px;
  width: 88%;
  overflow: hidden;
  height: 27%;
  /* border: 1px solid white; */
  /* transform: translateX(47px); */
}
.introAnimation .introFirstPart h1 {
  transform: translateY(120px);
  font-family: "Black Ops One", sans-serif;
  color: beige;
}
.introSecondPart {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  width: fit-content;
  overflow: hidden;
  height: 30%;
  /* border: 1px solid rgb(235, 213, 14); */
  transform: translateX(10px);
  transform: translateY(-20px);
  color: gold;
}
.introAnimation .introSecondPart h1 {
  transform: translateX(120%);
}
.introAnimation .introSecondPart .slideIntroText {
  transform: translateX(0%);
  transition: transform 2s cubic-bezier(0.86, 0.06, 0.07, 1);
}

.introAnimation .introFirstPart .rollTheIntro {
  transform: translateY(0px);
  transition: transform 2s cubic-bezier(0.86, 0.06, 0.07, 1);
}
