@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Serif+Text:ital@0;1&family=Erica+One&family=Tsukimi+Rounded&display=swap");

/* Setting some root variables */
:root {
  --accent-color: #232927;
  --primary-text-color: #ffffff;
  --primary-text-hover-color: #000;
  --primary-background-hover-color: rgba(255, 255, 255, 0.99);
}
/* Resetting all browser applied margin and padding to 0 */
* {
  margin: 0;
  padding: 0;
}
/* making website scroll smoothly */

html {
  scroll-behavior: smooth;
}
/* Home page background customization */
.backgroundFixed {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.backgroundFixed img {
  width: 105%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.3) blur(1px);
  /* make it dark with filter */
}
body {
  font-family: "DM Serif Text", serif;
  background-image: url("../Assets/Images/second.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  color: var(--primary-text-color);
  overflow-x: hidden;
  transition: 0.9s ease;
  /* overflow: hidden; */
}
@media screen and (max-width: 768px) {
  body {
    background-image: url(".././Assets/Images/watchBgF.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
}
.navigationBar {
  display: flex;
  height: 75px;
  width: 100%;
  background: rgba(109, 108, 102, 0.0456);
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.137);
  align-items: center;
  justify-content: space-between;
  /* fixing the navbar at the top permanently */
  position: fixed;
  top: 0;
  left: 0;

  /* setting padding for : top right bottom left */
  padding: 0 50px 0 50px;
  /* allow items to take more than one line if they dont fit in a single line */
  flex-wrap: wrap;
  /*creating a slide down animation when loading the page */
  transform: translateY(-100%);
  backdrop-filter: blur(7px);
  transition: 0.8s ease;
}

.navigationBar .nameLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.navigationBar .nameLogo .name {
  color: var(--primary-text-color);
  font-size: 32px;
  font-weight: bold;
  font-family: "DM Serif Text", serif;
  letter-spacing: 1.1px;
  cursor: pointer;
}
.navigationButtons ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 5px 10px;
  margin: 0 50px 0 50px;
}
.navigationButtons ul .navBtn {
  margin: 0 10px;
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 20px;
  font-family: "Tsukimi Rounded", serif;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  font-family: "Tsukimi Rounded", serif;
  font-weight: bolder;
  transition: 0.2s ease-in-out;
  position: relative;
  color: aliceblue;
}
.navigationButtons ul .activeNavigationButton {
  color: var(--primary-text-hover-color);
  background-color: var(--primary-background-hover-color);
  color: #0e0d0d;
}

.navigationButtons ul li .navBtn::after {
  content: "";
  width: 0%;
  height: 1.6px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 3px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s ease;
  opacity: 0.1;
}
.navigationButtons ul li .navBtn:hover::after {
  content: "";
  width: 72%;
  margin: auto;
  height: 1.6px;
  background-color: rgb(9, 102, 97);
  position: absolute;
  bottom: 3px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
.navigationButtons ul li a:hover {
  color: var(--primary-text-hover-color);
  background-color: var(--primary-background-hover-color);
}
.navigationButtons ul li a:hover .cartIcon {
  fill: var(--primary-text-hover-color);
  border-radius: 5px;
}

/* INTRO TEXT ANIMATION WHEN LOADING !INITIAL */
.introAnimation {
  height: 50vh;
  width: 40%;
  /* background: rgba(0, 0, 0, 0.5); */
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 100;
  transition: 0.8s ease;
}
.introAnimation .introFirstPart {
  border-bottom-right-radius: 77%;
  font-size: 38px;
  min-width: 88%;
  overflow: hidden;
  height: 27%;
}
.introAnimation .introFirstPart h1 {
  transform: translateY(120px);
  font-family: "Black Ops One", sans-serif;
  color: beige;
}
.introSecondPart {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  width: fit-content;
  overflow: hidden;
  height: 30%;

  transform: translateX(10px);
  transform: translateY(-20px);
  color: gold;
}
.introAnimation .introSecondPart h1 {
  transform: translateX(120%);
}
.introAnimation .introSecondPart .slideIntroText {
  transform: translateX(0%);
  transition: transform 2s cubic-bezier(0.86, 0.06, 0.07, 1);
}

.introAnimation .introFirstPart .rollTheIntro {
  transform: translateY(0px);
  transition: transform 2s cubic-bezier(0.86, 0.06, 0.07, 1);
}

.introWatch {
  display: none;
}
.introWatchAnimation {
  display: flex;
  max-width: 30% !important;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* SELECTING AND ANIMATING THE BACKGROUND BLOB */
.blobb {
  position: absolute;
  width: 80%;
  height: 400px;
  right: 10%;
  top: -6%;
  animation: rotateBlob 17s alternate infinite;
}
@keyframes rotateBlob {
  /* back and fourth ROTATION MOVEMENT WITH SOME SCALING*/
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(20deg) scale(1.06);
  }
  20% {
    transform: rotate(0deg) scale(1);
  }
  30% {
    transform: rotate(-10deg) scale(1.06);
  }
  40% {
    transform: rotate(10deg) scale(1);
  }

  80% {
    transform: rotate(100deg) scale(1);
  }
  90% {
    transform: rotate(60deg) scale(1.06);
  }
  100% {
    transform: rotate(10deg) scale(1);
  }
}

/* SELECTING AND ANIMATING WATCH */
.displayWatch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation: pulseWatch 3.5s infinite;
  animation-delay: 0.8s;
}
/* watch scaling animation like pulse */
@keyframes pulseWatch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: translateY(-7px) scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

#Products {
  min-width: 100%;
  min-height: 100vh;

  scroll-snap-type: y mandatory;
}

.homeBranding {
  position: fixed;
  bottom: 40%;
  font-size: 30px;
  left: 43%;
  transform: rotate(-90deg);
  color: rgba(255, 255, 253, 0.39);
  font-family: "DM Serif Text", serif;
}

.ourPartnersTitle {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.ourPartners {
  font-size: 2rem;
  display: flex;
  min-width: 100vw;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.partners {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid white;
  font-size: 1.5rem;
  cursor: pointer;

  height: fit-content;
  width: fit-content;
  padding: 15px 50px;
  margin: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 1s ease;
  overflow: hidden;
  transform: translateY(0px), scale(1);
  animation: partnerAnimate 9s alternate infinite;
  animation-timing-function: linear;
}
/* slide animation */
@keyframes partnerAnimate {
  0% {
    transform: translateX(-160px) scale(1);
  }
  100% {
    transform: translateX(120px) scale(1);
  }
}
/* .partners:hover {
  cursor: pointer;
  background-color: rgba(255, 217, 0, 0.452);
  transition: all 0.3s ease-out;
  transform: translateY(-5px);
} */

.partners::after {
  content: "";
  width: 200px;
  height: 200px;
  background-color: rgba(251, 255, 0, 1);
  position: absolute;
  left: -45px;
  bottom: -80px;
  transform: translateY(170px);
  overflow: hidden;
  transition: 0.5s ease;
  opacity: 0.1;
  border-radius: 50%;
}

.partners:hover::after {
  content: "";
  width: 290px;
  height: 290px;
  background-color: rgb(251, 255, 0, 1);
  position: absolute;
  left: -80x;
  bottom: -80px;
  transform: translateY(70px);
  overflow: hidden;
  transition: 0.5s ease;
  opacity: 0.64;
  z-index: -999;
  border-radius: 50%;
}
.partners:hover {
  transform: translateY(-5px) scale(1.04);
  transition: all 0.1s ease-out;

  color: var(--primary-text-hover-color);
}
